<div class="about-section fade-in">
  <h2 class="mb-4 animated-title">About Me</h2>
  <div class="card animated-card">
    <div class="card-body">
      <p class="lead">
        Results-driven Java developer with 3.8 years of hands-on experience in designing and implementing software solutions. 
        Proficient in Java, Angular, Spring framework, and Rest APIs. Adept at collaborating with cross-functional teams to deliver 
        high-quality, scalable applications. Demonstrated ability to troubleshoot, optimize code, and meet project deadlines. 
        Strong problem-solving skills and a commitment to continuous learning in dynamic tech environments.
      </p>
      <div class="achievements mt-4">
        <h4 class="animated-title">Key Achievements</h4>
        <ul class="animated-list">
          <li>Solved 400+ data structures and algorithmic problems on LeetCode and GFG</li>
          <li>Improved API performance by 70% to reduce homepage loading time</li>
          <li>Oracle certified Java developer (JAVA 1Z0-808)</li>
          <li>Microsoft Azure Administrator (AZ-104)</li>
          <li>Udemy certified Angular developer (Angular 13)</li>
        </ul>
      </div>
    </div>
  </div>
</div>
