<div class="experience-section fade-in">
  <h2 class="mb-4 animated-title">Professional Experience</h2>

  <div class="card mb-4 animated-card">
    <div class="card-body">
      <h4 class="animated-title">Java Full Stack Developer</h4>
      <h6 class="text-muted">Infosys | 02/2025 - Present | Pune</h6>
      <p class="project-name">Project: Infosys-Helix (Internal)</p>
      <ul class="mt-3 animated-list">
        <li>Maintained version control systems like Git for source code management.</li>
        <li>Managed back-end application using Java 8 and front-end aspects using Angular 13 in development process.</li>
        <li>Developed and executed JUnit and integration tests, ensuring application reliability and robustness.</li>
        <li>Designed using Figma and implemented user interfaces using Angular to enhance user experience.</li>
        <li>Created multiple dockers and deployed the application on VM.</li>
        <li>Implemented Azure B2C login and integrated application in azure environments using msal library.</li>
        <li>Maintained the code standard by advising the team to follow SonarCube in backend and ESLint in Angular.</li>
        <li>Handled team of 5 developers and achieved on time delivery of features.</li>
      </ul>
    </div>
  </div>

  <div class="card mb-4 animated-card">
    <div class="card-body">
      <h4 class="animated-title">Java Developer</h4>
      <h6 class="text-muted">Tata Consultancy Services Ltd. | 11/2021 - 02/2025 | Pune</h6>
      <p class="project-name">Project: TAP (TCS internal)</p>
      <ul class="mt-3 animated-list">
        <li>Developed secure and scalable RESTful APIs using Java 8 and Spring Boot 5.0, incorporating JWT authentication.</li>
        <li>Implemented features for PDF/Excel generation and batch programs, enhancing operational efficiency by 30%.</li>
        <li>Established reliable JDBC connections with PostgreSQL and Redis databases, improving data integration by 25%.</li>
        <li>Conducted rigorous unit testing using JUnit, ensuring bug-free code and increasing code efficiency by 50%.</li>
        <li>Managed version control and branching strategies using Git and Tortoise SVN.</li>
        <li>Built web applications using Gradle/Maven, adhering to CI/CD best practices with Jenkins integration.</li>
      </ul>
    </div>
  </div>
</div>
